@media (max-width: 1080px) {
  .conteiner {
    max-width: 850px;
  }
}
@media (max-width: 915px) {
  .main button {
    height: 35px;
    font-size: 14px;
    width: 155px;
  }
  .conteiner {
    max-width: 700px;
  }
  .main h1 {
    font-size: 32px;
  }
  .img-text {
    width: 530px;
  }
  .box-1 {
    width: 250px;
    padding: 14px 17px;
    gap: 10px;
    h1 {
      font-size: 22px;
    }
    h4 {
      font-size: 13px;
    }
    p {
      line-height: 18.5px;
      font-size: 11px;
    }
  }
  .post-top h3 {
    font-size: 16px;
  }
  .p-1 p {
    font-size: 12px;
    width: 420px;
  }
  .img-text {
    gap: 10px;
  }
  .fueter img {
    width: 188px;
    margin-block: 20px;
  }
  #post {
    height: 300px;
  }
}
@media (max-width: 820px) {
  .conteiner {
    max-width: 600px;
  }
  .p-1 p {
    font-size: 12px;
    width: 420px;
  }
  .section img {
    width: 150px;
  }
  .section {
    flex-direction: column-reverse;
    align-items: center;
    .main {
      align-items: center;
      text-align: center;
    }
  }
  .box-1 {
    width: 209px;
    padding: 10px 17px;
    gap: 10px;
    h1 {
      font-size: 19px;
    }
    h4 {
      font-size: 13px;
    }
    h4 span {
      font-size: 13px;
      margin-inline: 10px;
    }
    p {
      font-size: 11px;
    }
  }
}
@media (max-width: 800px) {
  .conteiner {
    max-width: 550px;
  }
  .p-1 p {
    font-size: 12px;
    width: 360px;
  }
  .icons img {
    width: 25px;
  }
  .icons {
    padding: 10px;
  }
  .footer p {
    font-size: 15px;
  }
  .section img {
    width: 150px;
  }
  .section {
    flex-direction: column-reverse;
    align-items: center;
    .main {
      align-items: center;
      text-align: center;
    }
  }
  .box-1 {
    width: 209px;
    padding: 6px 14px;
    gap: 3px;
    h1 {
      font-size: 17px;
    }
    p {
      font-size: 10px;
    }
  }
  .img-1 img {
    width: 170px;
  }
  .span span {
    width: 20px;
    height: 18px;
    font-size: 12px;
  }
}
@media (max-width: 670px) {
  .header {
    display: none;
  }
  .burger-menu {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 50px;
    right: 30px;

    background: rgb(249, 247, 247);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.201);
    height: 40px;
    width: 40px;
    ion-icon {
      font-size: 25px;
    }
  }
  .conteiner {
    max-width: 450px;
  }
  .p-1 p {
    font-size: 12px;
    width: 310px;
  }
  .icons img {
    width: 25px;
  }
  .icons {
    padding: 10px;
  }
  .footer p {
    font-size: 15px;
  }
  .section img {
    width: 150px;
  }
  .section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 430px;
    .main {
      align-items: center;
      text-align: center;
    }
  }
  .img-text h1 {
    font-size: 17px;
  }
  .span {
    width: 130px;
  }
  .box-1 {
    width: 180px;
    padding: 6px 13px;
    h1 {
      font-size: 14px;
    }
    h4 {
      font-size: 11px;
    }
    p {
      font-size: 10px;
    }
  }
  .img-1 img {
    width: 170px;
  }
  .span span {
    width: 20px;
    height: 18px;
    font-size: 12px;
  }
}
@media (max-width: 540px) {
  .conteiner {
    max-width: 400px;
  }
  .p-1 p {
    font-size: 11px;
    width: 250px;
  }
  .section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 430px;
    .main {
      align-items: center;
      text-align: center;
    }
  }
  .img-text h1 {
    font-size: 17px;
  }
  .span {
    width: 130px;
  }
  #post {
    height: 460px;
  }
  .post {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .box-1 {
    width: 250px;
    padding: 6px 13px;
    h1 {
      font-size: 20px;
    }
    h4 {
      font-size: 13px;
    }
    p {
      font-size: 10px;
    }
  }
  .img-1 img {
    width: 170px;
  }
  .span span {
    width: 20px;
    height: 18px;
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .conteiner {
    max-width: 350px;
  }
  .p-1 p {
    font-size: 15px;
    width: 350px;
    text-align: center;
  }
  .icons img {
    width: 20px;
  }
  .icons {
    padding: 10px;
  }
  .footer p {
    font-size: 12px;
  }
  .section {
    p {
      width: 380px;
    }
  }
  .img-text {
    width: 100%;
    align-items: flex-start;
    h1 {
      font-size: 30px;
      width: 350px;
      text-align: center;
    }
  }
  #post {
    height: 460px;
  }
  .post {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .box-1 {
    width: 250px;
    padding: 6px 13px;
    h1 {
      font-size: 20px;
    }
    h4 {
      font-size: 13px;
    }
    p {
      font-size: 10px;
    }
  }
  .fueter-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }
  .img-1 {
    flex-direction: column;
    padding: 20px 0;
    width: 430px;
    img {
      width: 350px;
      padding-left: 8px;
    }
  }
  .span {
    justify-content: center;
    align-items: center;
    width: 350px;
    gap: 30px;
    span {
      width: 50px;
      height: 25px;
      font-size: 18px;
    }
  }
}
@media (max-width: 420px) {
  .conteiner {
    max-width: 300px;
  }
  .p-1 p {
    padding-left: 5px;
    width: 300px;
  }
  .icons img {
    width: 20px;
  }
  .icons {
    padding: 10px;
  }
  .footer p {
    font-size: 12px;
  }
  .img-text {
    width: 100%;
    h1 {
      font-size: 26px;
      width: 310px;
      text-align: center;
    }
  }
  #post {
    height: 460px;
  }
  .post {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .box-1 {
    width: 250px;
    padding: 6px 13px;
    h1 {
      font-size: 20px;
    }
    h4 {
      font-size: 13px;
    }
    p {
      font-size: 10px;
    }
  }
  .fueter-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }
  .img-1 {
    flex-direction: column;
    img {
      width: 315px;
    }
  }
  .span {
    justify-content: center;
    align-items: center;
    width: 320px;
    gap: 30px;
    span {
      width: 50px;
      height: 25px;
      font-size: 18px;
    }
  }
}
